
.imgedit {
    width: 25px;
    height: 25px;
}

.imgdelete {
    width: 25px;
    height: 25px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-image: linear-gradient(#000, #000),
                      linear-gradient(#000, #000),
                      linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: center top, center center, center bottom;
    background-size: 1.5em 2px, 1.5em 2px, 1.5em 2px;
}
.navbar-brand {
    color: red !important; 
    font-size: 1.5rem; 
    font-weight: 600; 
}

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: black !important;
        text-decoration: none;
    }

.main-nav .nav-link {
    color:red; 
    font-size: 1.1rem; 
    font-weight: 500;
}

    .main-nav .nav-link:hover,
    .main-nav .nav-link:focus {
        color: black;
        text-decoration: none;
    }

    .main-nav .nav-link.active {
        color: black;
        font-weight: 600;
    }
