@page "/CreateClient"

@using GraphQLClientKursovayaa.DataAccess
@using GraphQLClientKursovayaa.DataAccess.Model

@inject NavigationManager NavigationManager

<h3>Создание клиента</h3>

<div class="row">
    <EditForm Model="@createClient" OnValidSubmit="@CreateButtonClick">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            Имя:
            <InputText @bind-Value="createClient.Name"
                       class="form-control" />
        </div>

        <div class="form-group">
            Телефон:
            <InputText @bind-Value="createClient.Phone"
                       class="form-control" />
        </div>

        <div class="form-group">
            Email:
            <InputText @bind-Value="createClient.Email"
                       class="form-control" />
        </div>

        <div class="form-group">
            Адрес:
            <InputText @bind-Value="createClient.Address"
                       class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Создать</button>
    </EditForm>
</div>

<a href="/ClientView"><i class="bi bi-backspace"></i></a>

@code {
    private CreateClientReturnModel createClientReturnModel =
        new CreateClientReturnModel();
    private CreateClientModel createClient =
        new CreateClientModel();

    private async Task CreateButtonClick()
    {
        try
        {
            string query =
                "mutation{" +
                "createClient(" +
                    "name:\"" + createClient.Name + "\"," +
                    "address:\"" + createClient.Address + "\"," +
                    "phone:\"" + createClient.Phone + "\"," +
                    "email:\"" + createClient.Email + "\"" +
                "){" +
                    "clientId,name" +
                "}" +
                "}";

            string graphQLQueryType = "createClient";

            var result = await Mutation.ExceuteMutationAsyn<CreateClientReturnModel>(
                graphQLQueryType, query);

            createClientReturnModel = result;
            NavigationManager.NavigateTo("ClientView");
        }
        catch (Exception)
        {
            throw;
        }
    }

}
