@page "/CreateCase"
@using GraphQLClientKursovayaa.DataAccess
@using GraphQLClientKursovayaa.DataAccess.Model

@inject NavigationManager NavigationManager

<h3>Создание дела</h3>

<div class="row">
    <EditForm Model="@createCase" OnValidSubmit="@CreateButtonClick">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            Название:
            <InputText @bind-Value="createCase.Title"
                       class="form-control" />
        </div>

        <div class="form-group">
            Описание:
            <InputText @bind-Value="createCase.Description"
                       class="form-control" />
        </div>

        <div class="form-group">
            Номинальная стоимость:
            <InputNumber @bind-Value="createCase.NominalCost"
                         class="form-control" />
        </div>

        <div class="form-group">
            Процент премии:
            <InputNumber @bind-Value="createCase.PremiumPercent"
                         class="form-control" />
        </div>

        <div class="form-group">
            Выиграно:
            <InputCheckbox @bind-Value="createCase.IsWon"
                           class="form-check-input" />
        </div>

        <div class="form-group">
            Дата начала:
            <InputDate @bind-Value="createCase.StartDate"
                       class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Создать</button>
    </EditForm>
</div>

<a href="/CaseView"><i class="bi bi-backspace"></i></a>

@code {
    private CreateCaseReturnModel createCaseReturnModel =
        new CreateCaseReturnModel();
    private CreateCaseModel createCase =
        new CreateCaseModel();

    private async Task CreateButtonClick()
    {
        try
        {
            string query =
                "mutation{" +
                "createCase(" +
                    "title:\"" + createCase.Title + "\"," +
                    "description:\"" + createCase.Description + "\"," +
                    "nominalCost:" + createCase.NominalCost + "," +
                    "premiumPercent:" + createCase.PremiumPercent +
                "){" +
                    "caseId,title" +
                "}" +
                "}";

            string graphQLQueryType = "createCase";

            var result = await Mutation.ExceuteMutationAsyn<CreateCaseReturnModel>(
                graphQLQueryType, query);

            createCaseReturnModel = result;
            NavigationManager.NavigateTo("CaseView");
        }
        catch (Exception)
        {
            throw;
        }
    }
}
