@page "/EditClient/{Id:int}"
@using GraphQLClientKursovayaa.DataAccess
@using GraphQLClientKursovayaa.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Редактирование клиента</h3>
<EditForm Model="@client" OnValidSubmit="@EditButtonClick">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        Имя:<InputText id="name" @bind-Value="client.Name"
                       class="form-control" />
    </div>
    <div class="form-group">
        Телефон:<InputText id="phone" @bind-Value="client.Phone"
                           class="form-control" />
    </div>
    <div class="form-group">
        Email:<InputText id="email" @bind-Value="client.Email"
                         class="form-control" />
    </div>
    <div class="form-group">
        Адрес:<InputText id="address" @bind-Value="client.Address"
                         class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
</EditForm>
<a href="/ClientView">Назад</a>
@code {
    [Parameter]
    public int? Id { get; set; }
    private Client client = new Client();
    protected override async Task OnInitializedAsync()
    {
        string completeQuery = "query{clientById(id:" + Id + "){clientId,name,phone,email,address}}";
        string qraphQLQueryType = "clientById";
        var result = await Query.ExceuteQueryAsyn<Client>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"ClientView");
        }
        client = result!;
    }
    private async Task EditButtonClick()
    {
        try
        {
            string query =
                "mutation{" +
                "updateClient(" +
                    "id:" + client.ClientId + "," +
                    "name:\"" + client.Name + "\"," +
                    "address:\"" + client.Address + "\"," +
                    "phone:\"" + client.Phone + "\"," +
                    "email:\"" + client.Email + "\"" +
                "){" +
                    "clientId,name" +
                "}" +
                "}";

            string graphQLQueryType = "updateClient";

            await Mutation.ExceuteMutationAsyn<CreateClientReturnModel>(
                graphQLQueryType, query);

            NavigationManager.NavigateTo("ClientView");
        }
        catch (Exception)
        {
            throw;
        }
    }


}
