@page "/"

<PageTitle>Задание</PageTitle>

<h1>Вариант 13</h1>

<pre>
Адвокатская контора оказывает юридические услуги в защите прав граждан в ходе юридического разбирательства. В конторе работает несколько адвокатов.
При обращении клиента в контору заводится дело. Над одним делом могут работать несколько адвокатов.
При этом считается, что клиент конторы по каждому делу — один (так как с точки зрения защиты интересы каждого клиента могут противоречить интересам другого лица, даже если это близкие люди, сотрудники, партнеры и т. д.).
По каждому делу адвокаты осуществляют некоторые юридические процедуры, каждая из которых оплачивается. В итоге дело заслушивается в суде и либо выигрывается клиентом (конторой), либо проигрывается.
В случае проигрыша клиент оплачивает конторе ее услуги по номинальной стоимости, в случае выигрыша — с учетом премиальных, установленных в договорном порядке для данного дела.
Разрабатываемая информационная система должна обеспечить автоматизацию следующих операций в рамках выбранной предметной области:</pre>

<ul>
	<li>ведение учета клиентов (с возможностью просмотра, редактирования, удаления, добавления новых);</li>
	<li>ведение учета сотрудников (адвокатов — с возможностью просмотра, редактирования, удаления, добавления новых); </li>
	<li> ведение учета дел (с возможностью просмотра, редактирования, удаления, добавления новых);</li>
	<li> ведение учета действий по делу (с возможностью просмотра, редактирования, удаления, добавления новых);</li>
	<li>автоматизация отбора выполненных действий по каждому делу;</li>
	<li>автоматизация отбора адвокатов, занятых каждым из дел;</li>
	<li> автоматизация отбора дел по каждому клиенту;</li>
	<li>формирование счета по делу;</li>
	<li>подведение итогов деятельности по каждому из сотрудников (адвокатов); </li>
	<li>формирование списка дел за заданный период времени.</li>
</ul>